body {
  font-family: "Slabo 27px", serif;
}
span{
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}
#underTerm{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  margin: 0;
  margin-left: -78%;
}
#underDes{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  margin: 0;
  margin-left: -63%;
}
.wrapper {
  margin: 5em auto;
  background-color: #b3c3d3;
  border-radius: 10px;
}
#choices{
  margin-top: 10px;
}
#choices>.fa:hover{
  color: #0e3c54;
}
#check{
  margin-left: 79%;
  margin-top: -0.2%;
  margin-bottom: -10%;
}
#wrong{
  float: right;
  margin-left: 36%;
}
#editTerm{
  width: 90%;
  padding: 20px 35px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  margin: 20px;
}
.card {
  margin: 15px;
  width: calc((100% / 2) - 40px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #1abc9c;
  transform: scale(1.05);
}
.card__inner {
  width: 90%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #0e3c54;/*#949fb0;*/
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
