* {
	font-family: 'Roboto', sans-serif;
}

#formContainer {
	width: 95%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	overflow-x: auto;
	margin: auto;
	margin-top: 15px;
}

.HeaderLabelContainer, .FieldNameContainer, .FieldValueContainer{
	display: inline-block;
	margin: 7px 0px;
}

.LabelAndFieldContainer {
	padding-left: 15px;
}

/* Initial Details of the Form */
#initialDetails {
	margin-bottom: 15px;
	width: 100%;
}

#header {
	width: 100%;
	text-align: center;
	margin: auto;
}

#header > * {
}

#header > .dropdown {
	width: 50%;
}

#header > input[type="number"] {
	padding: 12px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
	width: 90%;
	display: inline-block;
	margin-left: 0px;
}

#activityScore {
	display: inline-block;
	text-align: center;
	color: white;
	margin: 0% 3%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus{
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	background-color: #3498DB;
    position: relative;
    display: inline-block;
	text-align: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
	text-align: center;
}

.RequirementType {
	margin: 10px 0px;
	text-align: center;
}

.RequirementType > label {
	padding: 10px 25px;
}

.RequirementType > button {
	width: 11%;
	height: 30px;
	border: 0px;
}

.Selected {
	background-color: #B39DDB;
	color: white;
}
/* Initial Details of the Form */

/* Record Header and Body of the Form */
#recordHeader {
	border: 1px solid black;
	margin-bottom: 3px;
}

.Record {
	border-bottom: 1px solid black;
}

.Record:hover {
	background-color: #2a677c;
	color: white;
}

#studentName, .FieldNameContainer {
	width: 30%;
}

#grade, .FieldValueContainer {
	width: 33%;
}

.FieldValueContainer > input {
	height: 40px;
	width: 25%;
	padding-left: 5px;
	border: 1px solid black;
}
/* Record Header and Body of the Form */

/* Buttons or Control Panel of the Form */
.FormButtonsContainer {
	margin-top: 20px;
}

.FormButtonsContainer > input, .FormButtonsContainer > button {
	float: right;
	width: 100px;
	height: 30px;
	margin-left: 20px;
	background-color: #2a677c;
	color: white;
	border: 0px;
}

.FormButtonsContainer > input:hover, .FormButtonsContainer > button:hover {
	background-color: #B39DDB;
	color: white;
}
/* Buttons or Control Panel of the Form */

/* Dropdown */

/* Dropdown Button */
 