/*#body {
  overflow: auto;
}*/
.subject{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #FFF;
  background-color: #0e3c54;
  border-radius: 4px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper {
 /* margin: 5em auto;*/
  margin: 3%;
 /* background-color: #0e3c54;*/
 border: 5px solid #0e3c54;
 height: 80%;
 overflow: auto;
 padding: 2% 3%;
/*  border-radius: 10px;*/
}
#choices{ 
  overflow: hidden;
  color: #0e3c54;
  margin-top: 2%;
}
#choices>.fa{
  padding: 3% 5%;
}
#choices>.fa:hover{
  color: #ffd025;
}
.cards { 
/*  padding: 1%;*/
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
/*  margin: 20px;*/
}
.card {
  margin: 15px;
  width: calc((100% / 2) - 40px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #1abc9c;
  border: 4px solid #1abc9c;
  transform: scale(1.05);
}
.card__inner {
  width: 90%;
  padding: 4%;
  position: relative;
/*  cursor: pointer;*/
/*  background-color: #949fb0;*/
  border-top: 4px solid #2a677c;
  border-bottom: 4px solid #2a677c;
  color: #eceef1;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  height: 60px;
/*  border-radius: 15px;*/
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
/*.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}*/

/*@media screen and (min-width: 992px) {
  .card:nth-of-type(3n + 4) {
    clear: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n + 3) {
    clear: left;
  }
}*/